@page
@model CRUD.Pages.Clients.IndexModel
@{
}
<br />
@if (!string.IsNullOrEmpty(Request.Query["successMessage"]))
{
	<div class="alert alert-success alert-dismissible fade-show" role="alert">
		@Request.Query["successMessage"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" area-label="close"></button>
	</div>
}
<h2>List of Clients</h2>
<a class="btn btn-primary btn-sm" href="/Clients/Create">New Clients</a>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Address</th>
			<th>Created At</th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>
		@foreach(var item in Model.listClients)
		{
			<tr>
				<td>@item.id</td>
				<td>@item.name</td>
				<td>@item.email</td>
				<td>@item.phone</td>
				<td>@item.address</td>
				<td>@item.created_at</td>
				<td>
					<a class="btn btn-primary btn-sm" href="/Clients/Edit?id=@item.id">Edit</a>
					<a class="btn btn-danger btn-sm" href="/Clients/Delete?id=@item.id" onclick="return confirm('Are You Sure You want to delete this Client?')">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
